<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section class="relative w-full h-screen flex items-center justify-center bg-gray-900 text-white">
    <!-- Background Image -->
    <div class="absolute inset-0">
        <video autoplay loop muted playsinline class="w-full h-full object-cover opacity-50">
            <source src="src/assets/videos/WEB.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <!-- Content -->
    <div class="relative z-10 text-center max-w-2xl px-6">
        <span class="text-primary-400 font-bold text-lg uppercase">Los mejores del mercado en soluciones digitales</span>
        <h1 class="text-4xl md:text-6xl font-extrabold mt-4">Lleva tu negocio al siguiente nivel</h1>
        <p class="mt-4 text-lg text-gray-300">
            Servicios de profesionalización de marca, desarrollo y crecimiento en la era digital.
        </p>
        <div class="mt-6">
            <a href="#" class="bg-primary-500 hover:bg-primary-600 text-white font-primary px-6 py-3 rounded-lg shadow-md transition-all">
                Contactanos
            </a>
        </div>
    </div>


</section>
